
<h2>Don't just get in a car with a stranger, make a new friend. </h2>
<section>
  <p>
    <%= link_to "View All Riders", passengers_path %> | Create New Riders <br />
    <%= link_to "View All Drivers", drivers_path %> | Create New Driver 
  </p>
</section>