<h2>Riders</h2>

<h4><%= link_to "Add a New Rider", new_passenger_path %></h4>
  
  <table>
    <tr>
      <th>Rider Name</th>
    </tr>
    <% @passengers.each do |passenger|  %>
      <tr>
        <td>
          <%= link_to passenger.name, passenger_path(passenger) %>
        </td>
      </tr>
  <% end %>
  </table>

