<h2>Drivers</h2>
<h3><%= link_to "Add a New Driver", new_driver_path %></h3>
<ul>
  <% @drivers.each do |driver|  %>

    <li>
      <strong><%= link_to driver.name, driver_path(driver) %></strong> <br /> 
    </li>
  <% end %>

</ul>