<h2>Drivers</h2>
<section class="button">
  <h3><%= link_to "Add a New Driver", new_driver_path %></h3>
</section>

  <table class="table table-hover name-table">
    <tr>
      <th>Driver Name</th>
    </tr>
    <% @drivers.each do |driver|  %>
      <tr>
        <td>
          <%= link_to driver.name, driver_path(driver.id) %>
        </td>
      </tr>
  <% end %>
  </table>