/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "**/*";


     body {
          margin: 0 auto;
          padding: 30px;
          min-height: 100%;
          font-size: 18px;
          color: #333;
          font-family: "Roboto", sans-serif;
          line-height: 1.25;
          display: grid;
          grid-template-row: auto 35px;
          background-color: #fff5d7
        }
        
        /* Heading styling */
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
          font-family: "Open Sans", sans-serif;
          margin-top: 1em;
          color: #001f3f;
     }

     /* Header Nav styling */
     nav {
          background-color: #feb300;
          padding: 15px;
          vertical-align: center;
          display: grid;
          grid-template-columns: 65% auto auto auto
     }
        
     nav h1 {
          display: inline;
          padding-right: 50px
     }
   
     header nav ul {
          display: flex;
          align-items: center;
          list-style-type: none;
     }
      
      .home-btn {
          background-color: #ff5e6c;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none
      }
      
      .home-btn a {
          text-decoration: none;
          color: white
      }
      
      .home-btn a:hover {
          text-decoration: none;
          color: white
      }
      
  
      .dropbtn {
          background-color: #ff5e6c;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none
      }

      .dropbtn a {
          text-decoration: none;
          color: white
      }
      
      .dropbtn a:hover {
          text-decoration: none;
          color: white
      }
      
      .dropdown {
          position: relative;
          display: inline-block
      }
      
      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1
      }
      
      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block
      }
      
      .dropdown-content a:hover {
          background-color: #ddd;
          text-decoration: none
      }
      
      .dropdown:hover .dropdown-content {
          display: block
      }
      
      .dropdown:hover .dropbtn, .home-button:hover {
          background-color: #ffaaab
      }
      
      
      
      .button {
          display: flex;
          flex-direction: row
      }

      .button-submit {
          margin-top: 10px     
      }
      
      .button a {
          border: 2px solid #ffaaab;
          background-color: #ff5e6c;
          color: white;
          padding: 18px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 12px;
          margin-bottom: 0
      }
      
      .button a:hover {
          text-decoration: none
      }
      
      .container {
          position: relative
      }
      
      .text-block {
          position: absolute;
          top: 310px;
          left: 73%;
          justify-content: center;
          background-color: var(--main-color);
          color: white;
          padding-left: 30px;
          padding-right: 30px
      }

      /* Table styling */
      
      table {
          margin: 20px
      }

      table,th,td {
          border: 1px solid lightgray
      }
      
      td,th {
          text-align: center
      }

      .name-table {
          width: 250px
      }

      /* Form styling */

      .people-form {
          display: grid;
          grid-template-columns: 200px 400px;
          row-gap: 0.5em;
          column-gap: 0.3em
      }
      
      .edit-trip {
          display: grid;
          grid-template-columns: 200px;
          row-gap: -0.2em
      }

      /* CSS inspired by http://spooky-ride-share.herokuapp.com/ */